body {
	font-family: sans-serif;
	margin: 20px;
	background-color: #f8f8f8;
}

h1 {
	color: #333;
}

.weather-info {
	background-color: #ffffff;
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
}

.weather-condition {
	color: #007BFF;
	font-weight: bold;
}

.temperature {
	font-size: 1.1em;
	margin: 5px 0;
}

.highlight-temp {
	color: red;
	font-weight: bold;
}

/* アイコンを絵文字で表示する擬似要素 */
.wind-speed::before {
	content: "💨 ";
}

.wind-dir::before {
	content: "🧭 ";
}

.humidity::before {
	content: "💧 ";
}

.pressure::before {
	content: "🌡️ ";
}

.feels-like::before {
	content: "🌡️ ";
}

.precip::before {
	content: "☔ ";
}
